<script type="text/template" id="generalAboutUsTemplate">
    <div class="row">

        <p><strong>Co Parent Match</strong> is a web service to help connect you with people like you!</p>

        <p>More and more <strong>Male/Female</strong>, <strong>Gay/Straight</strong>, <strong>Singles/Couples</strong> are looking to but are unable to go about it the conventional way and need a likeminded friend or donor to <strong>provide the sperm, or the egg, as well as the support to raise a child</strong>!</p>
        <br />

        <p>Perfect for Gay, (Single or Coupled) Females who need a donor or <strong>co-parent</strong>, Gay (Single or Coupled) Males looking to parent a child as well as Male/Female couples experiencing difficulties and needing a donor, Females offering <strong>surrogacy</strong> and Men offering to be a <strong>sperm donor</strong>.</p>
        <br />

        <p>The Advanced Search will enable you to find your perfect parenting match by the specifics you request. We also offer advice, our recommendations and news of successful matches and other support tools. </p>

        <p>You may be just click away from finding a Friend to you and Parent to your child.</p>

        <p><strong>Co Parent Match</strong>.co.uk is a website designed to help gay men and lesbian women find a <strong>like minded user to concieve
            and raise a child</strong>. With helpful tools and clear profiles users can find the perfect <strong>sperm donor</strong> for them, or the perfect host to carry
            the baby. Tips and advice as well as a quick and simple message service mean users can easily find and communicate clear and thought
            out plans for the future of the insemination process aswell as the raising of the child.
        </p>

        <p>Soon to be loaded with content on the best conception methods, the best way to approach a surrogate, the best ways to fertalise your chosen partner, the best way to match make and create the child you want to raise.</p>

        <p>Full of content on how to concieve, how to reproduce, how to use a turkey baster, how to create a new life, how to communicate with your child, how to create a contract with your baby match make.</p>

    </div>
</script>