<script type="text/template" id="generalAboutUsTemplate">
    <div id="comingSoon">
        <h2>Coming Soon / Known Issues</h2>
        <div>
            <ul>
                <li>[MEDIUM PRIORITY] Forgotten password </li>

                <li>[MEDIUM PRIORITY] As an administrator I would like to be able to set other users to administrator</li>

                <li>[MEDIUM PRIORITY] When I request a holiday: send an email to my leaders </li>

                <li>[LOW PRIORITY] On being newly registered with no clients and no teams, forward to users page when logging in</li>

                <li>[LOW PRIORITY] As a user I would like to be able to submit support requests</li>

                <li>[LOW PRIORITY] As a user when I click a link I would like the page to jump to the top so that I can see the newly loaded content</li>
            </ul>
        </div>
    </div>
</script>