<script type="text/template" id="generalFAQTemplate">
    <div id="FAQ">
        <h2>Frequently Asked Questions</h2>
        <div class="questions">
            <ul>
                <li>
                    <h4>Is hive tracking free?</h4>
                    <p class="answer">Ultimately this system will remain free until the cost of running it becomes to high.
                        In which case, users will be given suitable time to decide if they would like to continue using the system
                        with a small fee involved.
                    </p>
                </li>
                <li>
                    <h4>Is hive tracking being develop further</h4>
                    <p class="answer">Absolutely.
                        A clear road map will be listed in the footer soon with planned features and estimated release dates.</p>
                </li>
                <li>
                    <h4>Is there a hard limit for the number of clients / users / teams I can input?</h4>
                    <p class="answer">Currently everything in the system is unlimited.</p>
                </li>
                <li>
                    <h4>I encountered an issue, what do I do?</h4>
                    <p class="answer">Be calm, take a breath and try reloading the page.
                        We'd love you to use the support page to report issues and how to possibly recreate it.
                        We are actively developing and want to ensure the best service for everyone.</p>
                </li>
            </ul>
        </div>
    </div>
</script>