* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
}

html, body {
  font-family: 'PT Sans', 'Helvetica';
  font-size: 12px;
  height: 100%;
}
button, input, textarea {
  font-family: 'PT Sans', 'Helvetica';
}
input[type="text"] {
  height: 35px;
}
.table th, .table td {
  padding: 5px !important;
}
table a {
  color: black;
  text-shadow: 0px 1px 0px #ebebeb;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
div {
  margin-bottom: 5px;
}


body.signedOut {
  #content {
    width: 100%;
    margin-left: 0;
  }
  #sidebar {
    display: none;
  }
  #userActions {
    top: 15px;
  }
  #footer {
    margin-left: 0px;
  }
  #wrapper {
    min-height: 65%;
  }

}

/* Containers */
#wrapper {
  min-height: 100%;
  min-width: 1000px;
  height: auto !important;
  height: 100%;
  margin: 0 auto 155px;
}

#name h1 span {
  display: block;
}
#userActions {
  font-size: 20px;
}
#sidebar {
  background: black;

  overflow-x: scroll;
  position: fixed;
  height: 100%;

  left: 0;
  top: 0;

  color: white;
  padding: 15px;
  text-align: center;
  width: 130px;

  a {
    color: white;
  }

  #sidebarInner {
    padding: 0;
    li {
      font-size: 18px;
      margin: 15px 0;
      display: block;
    }
  }
}

#content {
  margin-left: 170px;
}
#footer {
  margin-left: 160px;
}


#content {
  width: auto;
  background-color: white;
  #contentInner {
    padding: 15px;
  }
  h1 {
    font-size: 108px;
    text-shadow: 0px 1px 1px #4d4d4d;
  }
  h2 {
    font-size: 30px;
    margin: 0px 0 15px 0;
    text-shadow: 0px 1px 1px #4d4d4d;
    border-bottom: 1px solid #f89406;
    img {
      vertical-align: text-top;
    }
  }
  h3 {
    font-size: 30px;
    margin: 30px 0 10px 0;
  }
  p {
    font-size: 18px;
  }
}

#top {
  background: black;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: 600;
  text-shadow: 0px 1px 1px #4d4d4d;
  border-bottom: 5px solid #ccc;
  display: none;
  a {
    color: black;
  }
}
#footer {
  height: 155px;
  width: 100%;
  clear: both;
  padding: 25px;
  background: black;
  border-top: 5px solid orange;
  color: white;
  .information {
    font-size: 15px;
    margin-bottom: 15px;
  }
  a {
    color: white;
  }
}
.subtitle {
  font-size: 12px;
  font-style: italic;
  &:before, &:after {
    content: '"';
  }
}
/* utility */
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
  visibility: hidden;
}
.hide {
  display: none;
}

#leader_container {
  margin-bottom: 10px;
}


.selections {
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

.col-actions {
  min-width: 165px;
}

#collectionLatch {
  clear: both;
}

.filters {
  clear: both;

  .filter {
    float: left;
  }
}


#sidebarLogo {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
  margin-bottom: 15px;
}



//spinner



.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
  width: 10px;
}

.has-spinner.btn-small.active .spinner {
  width: 13px;
}

.has-spinner.btn.active .spinner {
  width: 16px;
}

.has-spinner.btn-large.active .spinner {
  width: 19px;
}
@keyframes throbbler {
  0% {    transform: rotate(0deg);  }
  12.5% {    transform: rotate(0deg);  }
  12.5% {    transform: rotate(45deg);  }
  25% {    transform: rotate(45deg);  }
  25% {    transform: rotate(90deg);  }
  37.5% {    transform: rotate(90deg);  }
  37.5% {    transform: rotate(135deg);  }
  50% {    transform: rotate(135deg);  }
  50% {    transform: rotate(180deg);  }
  62.5% {    transform: rotate(180deg);  }
  62.5% {    transform: rotate(225deg);  }
  75% {    transform: rotate(225deg);  }
  75% {    transform: rotate(270deg);  }
  87.5% {    transform: rotate(270deg);  }
  87.5% {    transform: rotate(315deg);  }
  100% {    transform: rotate(315deg);  }
}

.icon-spin:before {
  content: "\f055";
  animation-duration: 1s;
  animation-name: throbbler;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
//end spinner