<script type="text/template" id="hiveInformationTemplate">
    <div id="aboutUs">
        <p>
            Hive tracking is a free time tracking system developed with small to medium sized companies in mind.
        </p>
        <br />
        <p>
            HT is created with the vision of making time tracking simple, because nobody enjoys data input.
        </p>
        <br />
        <p>Areas covered include Client, Users, Teams, Sickness and Holidays with Calendaring and work hour input.</p>
    </div>
</script>