<script type="text/template">
    <div class="row show-grid" id="landing">
        <div class="col-md-6" id="signUpView"></div>
        <div class="col-md-6" id="signInView"></div>
    </div>

    <div class="page-header">
        <h1>Co-Parent-Match.Com: <small>Find a Co-parent, <a href="gay-parenting">Gay Parenting</a>, <a href="co-parenting">Co-parenting</a>, <a href="surrogacy">Surrogacy</a>, <a href="sperm-donor">Sperm Donors</a></small></h1>
    </div>


    <div class="well">
        <p><strong>Co-Parent-Match.Com</strong> is a web service to help connect you with people like you!</p>
        <p>More and more people are looking to parent a child but due to circumstance are unable to go about it
            the conventional way. Co-Parent-Match.Com aims to help you find your perfect <strong>co-parenting
                match</strong>.
        </p>
        <p>Whether this be as a <strong>donor only role</strong> or as an <strong>active co-parent</strong>;</p>
        <p>Co-Parent-Match.Com is perfect for <strong>males and females</strong>, <strong>gay or straight</strong>, <strong>singled or couples</strong> who are searching for a donor or co-parent.</p>
        <p>The Advanced Search will enable you to find your perfect parenting match by the specifics you request. We also offer users advice, a forums service to discuss and inform and other links and support tools.</p>
        <p><em>You may be just click away from finding a Friend to you and Parent to your child.</em></p>
    </div>


    <div class="well">
        <p>Are you looking to find a partner to concieve and raise a child with?</p>
        <p>....Whether it be a gay man, a lesbian woman, a straight couple, a gay couple...</p>
        <p>....The power to find that person is in your hands....</p>
        <p>Join for FREE now and start the rest of your new childs life!</p>
    </div>

    </div>
</script>