<script type="text/template" id="hiveSignInTemplate">
    <h2>Sign-in</h2>
    <form role="form" class="signin" id="signinForm">


        <div class="form-group">
            <label for="signInEmail">Email address</label>
            <input type="email" class="form-control" id="signInEmail" placeholder="Enter email"autofocus="autofocus" name="user[email]" />
        </div>


        <div class="form-group">
            <label for="signInPassword">Password</label>
            <input type="password" class="form-control" id="signInPassword" placeholder="Password" name="user[password]" />
        </div>


        <button type="submit" class="btn btn-default" id="signInButton">Sign-in</button>
    </form>
</script>