<script type="text/template" id="hiveSignUpTemplate">
    <div class="signup inprocess">
        <h2>Free Sign-up</h2>
        <form class="signup" id="signupForm">
            <div>
                <label for="hive_name">Company Name</label>
                <input autofocus="autofocus" id="hive_name" type="text" placeholder="company name" />
            </div>
            <div>
                <label for="first_name">Name</label>
                <input id="hive_first_name" type="text" placeholder="first name"/>
                <input id="hive_last_name" type="text" placeholder="last name"/>
            </div>
            <div>
                <label for="hive_email">Email Address</label>
                <input id="hive_email" type="email" placeholder="email address" />
            </div>
            <div>
                <button id="signupButton" name="signUp" class="btn btn-success">Sign-up your Company</button>
            </div>
        </form>
    </div>
</script>