<script type="text/template" id="hiveSignInTemplate">
    <h2>Sign-in</h2>
    <form class="signin" id="signinForm">
        <div>
            <label for="user_email">Email</label>
            <input autofocus="autofocus" id="user_email" name="user[email]" type="email" />
        </div>
        <div>
            <label for="user_password">Password</label>
            <input id="user_password" name="user[password]" type="password" />
        </div>
        <div>
            <button id="signinButton" name="commit" class="btn btn-info">Sign-in</button>
        </div>
    </form>
</script>