<script type="text/template" id="hiveSignUpTemplate">
    <h3>Sign-up</h3>
    <form role="form" class="signUp" id="signUpForm">
        <div class="form-group">
            <label for="signUpEmail">Email address</label>
            <input type="email" class="form-control" id="signUpEmail" placeholder="Enter email"autofocus="autofocus" name="user[email]" />
        </div>
        <div class="form-group">
            <label for="signUpPassword">Password</label>
            <input type="password" class="form-control" id="signUpPassword" placeholder="Password" name="user[password]" />
        </div>
        <button type="submit" class="btn btn-success" id="signUpButton">Sign-up</button>
    </form>
</script>