<script type="text/template" id="layoutNavigationTemplate">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-fw fa-home"></i> Home
            </a>
        </li>
        <li>
            <a href="/#findAMatch">
                <i class="fa fa-fw fa-users"></i> Find A Match
            </a>
        </li>
        <% if (_.isSignedIn()) { %>
        <li>
            <a href="/#messages">
                <i class="fa fa-fw fa-inbox"></i> Messages
            </a>
        </li>
        <li>
            <a href="/#mySearches">
                <i class="fa fa-fw fa-search"></i> Searches
            </a>
        </li>
        <li>
            <a href="/#updateProfile">
                <i class="fa fa-fw fa-pencil-square-o"></i> Update Profile
            </a>
        </li>
        <% } %>
        <li>
            <a href="/#articles">
                <i class="fa fa-fw fa-book"></i> Articles
            </a>
        </li>
    </ol>
</script>