<script type="text/template" id="layoutSidebarTemplate">
    <% if (_.isSignedIn()) { %>

    <ul>
        <!-- logo -->
        <li>
            <a href="#">
                <img id="sidebarLogo" src="/img/logo/black/85.png" title="Arena" alt="Arena" />
            </a>
        </li>


        <!-- images -->
        <li>
            <a href="#images">
                Images
            </a>
        </li>


        <!-- users -->
        <li>
            <a href="#users">
                Users
            </a>
        </li>


        <!-- signout -->
        <li>
            <a href="#signOut">
                Sign Out
            </a>
        </li>
    </ul>
    <% } %>
</script>