<script type="text/template" id="layoutSidebarTemplate">
    <% if (_.isSignedIn()) { %>
        <ul>
            <!-- images -->
            <li>
                <a href="#images">
                    Images
                </a>
            </li>
            <!-- users -->
            <li>
                <a href="#users">
                    Users
                </a>
            </li>
            <!-- signout -->
            <li>
                <a href="#signOut">
                    Sign Out
                </a>
            </li>
        </ul>
    <% } %>
</script>