.postPreviewContainer .googleplus {
  background: white;
  padding: 15px;
  font: normal 13px Roboto, arial, sans-serif;
}
.postPreviewContainer .googleplus .clientDetailsArea .clientProfileImage img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.postPreviewContainer .googleplus .clientDetailsArea .clientAlias {
  color: black;
  font-weight: bold;
  line-height: 1.38;
  width: 100%;
  padding-left: 15px;
}
.postPreviewContainer .googleplus .clientDetailsArea .postDetails {
  color: #999;
  font-size: 12px;
  width: 100%;
  padding-left: 15px;
}
.postPreviewContainer .googleplus .postBodyContent {
  margin-left: 65px;
}
.postPreviewContainer .googleplus .postBodyContent .postText {
  color: #404040;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 300;
}
.postPreviewContainer .googleplus .postBodyContent .postImage {
  margin: 5px 0;
}
.postPreviewContainer .googleplus .postBodyContent .postLink {
  border-top: 1px solid #e5e5e5;
  margin: 0 14px 0 0;
  max-height: 221px;
  padding: 20px 0;
}
.postPreviewContainer .googleplus .postBodyContent .postLink .postLinkImage img {
  float: left;
  max-height: 300px;
  max-width: 400px;
  margin-right: 15px;
}
.postPreviewContainer .googleplus .postBodyContent .postLink .postLinkTitle {
  color: #404040;
  line-height: 1.4;
}
.postPreviewContainer .googleplus .postBodyContent .postLink .postLinkDescription {
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  color: #999999;
}
.postPreviewContainer .googleplus .postBodyContent .postLink .postLinkLink,
.postPreviewContainer .googleplus .postBodyContent .postLink .postLinkLink a {
  color: gray;
}
