<script type="text/template" id="usersCollectionTemplate">
    <div class="loadingActive loadingLatch">
        <div class="pageLatch filter"></div>
        <table class="table table-striped table-bordered loading-hidden-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="col-actions">Actions</th>
            </tr>
            </thead>
            <tbody id="collectionBody"></tbody>
        </table>
        <div class="loading"></div>
    </div>
</script>