<script type="text/template" id="usersFormTemplate">
    <div class="generalForm" id="userForm">
        <% if ( mode != 'create') { %>
        <h2><img src="/img/icons/32/update.png" /> Update User</h2>
        <% } else { %>
        <h2><img src="/img/icons/32/create.png" /> Create New User</h2>
        <% } %>
        <form>
            <div class="row-fluid show-grid">
                <fieldset name="personal" class="span6">
                    <legend>Personal Details</legend>

                    <div id="first_name_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel" for="first_name">First name</label>
                            <div class="controls">
                                <input type="text" name="first_name" id="first_name" placeholder="e.g. John" />
                            </div>
                        </div>
                    </div>

                    <div id="last_name_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Last name</label>
                            <div class="controls">
                                <input type="text" name="last_name" id="last_name" placeholder="e.g. Stevens" />
                            </div>
                        </div>
                    </div>

                    <div id="birth_date_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Birth date</label>
                            <div class="controls">
                                <input type="date" name="birth_date" id="birth_date" />
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset name="job" class="span6">
                    <legend>Job Details</legend>

                    <div id="job_title_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Job title</label>
                            <div class="controls">
                                <input type="text" name="job_title" id="job_title" placeholder="e.g. Creative Assistant" />
                            </div>
                        </div>
                    </div>

                    <div id="job_start_date_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Start date</label>
                            <div class="controls">
                                <input type="date" name="job_start_date" id="job_start_date" />
                            </div>
                        </div>
                    </div>

                    <div id="job_probation_ends_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Probation ends</label>
                            <div class="controls">
                                <input type="date" name="job_probation_ends" id="job_probation_ends" />
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <br /><br />

            <div class="row-fluid show-grid">

                <fieldset name="personal" class="span6">
                    <legend>Work Details</legend>

                    <div id="email_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Work email</label>
                            <div class="controls">
                                <input type="email" name="email" id="email" placeholder="e.g. john.stevens@hivetracking.com" />
                            </div>
                        </div>
                    </div>

                    <div id="work_address_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Work address</label>
                            <div class="controls">
                                <input type="text" name="work_address" id="work_address" placeholder="e.g. 55 curtain road, ec2" />
                            </div>
                        </div>
                    </div>

                    <div id="work_phone_number_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Work phone number</label>
                            <div class="controls">
                                <input type="text" name="work_phone_number" id="work_phone_number" placeholder="e.g. 020 320 433" />
                            </div>
                        </div>
                    </div>
                </fieldset>


                <fieldset name="personal" class="span6">
                    <legend>Personal Details</legend>

                    <div id="personal_email_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Personal email</label>
                            <div class="controls">
                                <input type="email" name="personal_email" id="personal_email" placeholder="e.g. john.stevens@gmail.com" />
                            </div>
                        </div>
                    </div>

                    <div id="personal_address_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Home address</label>
                            <div class="controls">
                                <input type="text" name="personal_address" id="personal_address" placeholder="e.g. 56 urlwin walk, brixton" />
                            </div>
                        </div>
                    </div>

                    <div id="personal_phone_number_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Home phone number</label>
                            <div class="controls">
                                <input type="text" name="personal_phone_number" id="personal_phone_number" placeholder="e.g. 07841049285" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>


            <br /><br />


            <div class="row-fluid show-grid">
                <fieldset name="password" class="span6">
                    <legend>Password</legend>
                    <div id="password_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Password</label>
                            <div class="controls">
                                <input type="text" name="password" id="password" class="password">
                            </div>
                        </div>
                    </div>

                    <div id="password_confirmation_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Confirm password</label>
                            <div class="controls">
                                <input type="text" name="password_confirmation" class="password" id="password_confirmation">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>


            <br />
            <div class="controlGroup button">
                <% if ( mode == 'update' ) { %>
                <button class="btn btn-info" id="save" type="submit">Update User</button>
                <% } else { %>
                <button class="btn btn-success" id="save" type="submit">Create User</button>
                <% } %>
            </div>
        </form>
    </div>
</script>