<script type="text/template" id="usersFormTemplate">
    <div class="generalForm" id="userForm">
        <% if ( mode != 'create') { %>
        <h2><img src="/img/icons/32/update.png" /> Update User</h2>
        <% } else { %>
        <h2><img src="/img/icons/32/create.png" /> Create New User</h2>
        <% } %>
        <form>
            <div class="row-fluid show-grid">
                <fieldset name="personal" class="span6">
                    <legend>Personal Details</legend>

                    <div id="username_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel" for="username">Username</label>
                            <div class="controls">
                                <input type="text" name="username" id="username" placeholder="e.g. John Smith" />
                            </div>
                        </div>
                    </div>

                    <div id="email_container">
                        <div class="hide errorMessage"></div>
                        <div class="controlGroup">
                            <label class="controlLabel">Email</label>
                            <div class="controls">
                                <input type="email" name="email" id="email" />
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <br />
            <div class="controlGroup button">
                <% if ( mode == 'update' ) { %>
                <button class="btn btn-info" id="save" type="submit">Update User</button>
                <% } else { %>
                <button class="btn btn-success" id="save" type="submit">Create User</button>
                <% } %>
            </div>
        </form>
    </div>
</script>