<script type="text/template" id="usersItemTemplate">
    <td>
        <div><input type="text" value="<%=model.username%>" class="username" /></div>
    </td>
    <td>
        <div><i class="fa fa-home fa-1" title="email"></i> <input type="text" value="<%=model.email%>" class="email" placeholder="Email" /></div>
    </td>
    <td>
        <div>
            <button class="btn btn-small btn-success save"> <i class="fa fa-floppy-o fa-1"></i> Save </button>
            <button class="btn btn-small btn-success update"> <i class="fa fa-pencil-square-o fa-1"></i>  Edit</button>
        </div>
        <div>
            <button class="btn btn-small btn-danger reset"> <i class="fa fa-refresh fa-1"></i> Reset</button>
            <button class="btn btn-small btn-danger delete"> <i class="fa fa-minus-circle fa-1"></i> Delete</button>
        </div>
    </td>
</script>