<script type="text/template" id="usersUpdatePasswordTemplate">
    <h2>Update password</h2>
    <form class="update_password" id="update_password" >
        <div>
            <label for="user_password">New password</label><br />
            <input autofocus="autofocus" id="user_password" name="user[password]" type="password" value="" />
        </div>
        <div>
            <label for="user_password_confirmation">Password confirmation</label><br />
            <input id="user_password_confirmation" name="user[password_confirmation]" type="password" />
        </div>
        <div>
            <button name="commit" id="update" class="btn btn-success">Update password</button>
        </div>
    </form>
</script>